$navbar-bg: rgb(185, 185, 185);
$priamry-color: rgb(255, 255, 255);
$success-color: rgb(77, 132, 77);
$warning-color: rgb(255, 165, 0);
$danger-color: rgb(255, 0, 0);
$info-color: rgb(0, 0, 255);
$light-color: rgb(255, 255, 255);
$dark-thick-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$dark-color: rgb(88, 88, 88);
$gray-color: rgb(128, 128, 128);
$light-gray-color: rgb(233, 233, 233);
$super-success-color: rgb(0, 158, 92);
$dark-gray-color: rgb(64, 64, 64);
$transparent-color: rgba(0, 0, 0, 0);

// $primary-font: "Titillium Web", sans-serif;
// $secondary-font: "Poppins", sans-serif;
// $primary-font-weight: 700;
// $secondary-font-weight: 300;
// $primary-font-size: 30px;
// $secondary-font-size: 16px;
// $primary-font-color: $primary-color;
// $secondary-font-color: $secondary-color;
// $primary-background-color: $primary-color;
// $secondary-background-color: $secondary-color;
// $success-background-color: $success-color;
// $warning-background-color: $warning-color;
// $danger-background-color: $danger-color;
// $info-background-color: $info-color;
// $light-background-color: $light-color;
// $dark-background-color: $dark-color;
// $white-background-color: $white-color;
// $black-background-color: $black-color;
// $gray-background-color: $gray-color;
// $light-gray-background-color: $light-gray-color;
// $dark-gray-background-color: $dark-gray-color;
// $transparent-background-color: $transparent-color;
// $primary-border-color: $primary-color;
// $secondary-border-color: $secondary-color;
