:root {

/* Colors: */
--unnamed-color-2a2a36: #2A2A36;

/* Font/text values */
--unnamed-font-family-gotham: Gotham;
--unnamed-font-family-gilroy-bold: Gilroy-Bold;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-36: 36px;
--unnamed-font-size-45: 45px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-56: 56px;
--unnamed-line-spacing-57: 57px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-gilroy-bold);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-36);
line-height: var(--unnamed-line-spacing-57);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-2a2a36);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-gotham);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-45);
line-height: var(--unnamed-line-spacing-56);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-2a2a36);
}